2: Pass, round trip and rejection cases, 2026-10-18
3: Passed esp -> hc-05 -> uart - stm32 -> servos pipeline. successfully processes a range of 0-180 incrementing on the esp sending command frames